@CHARSET "UTF-8";


	 .FormHeader{
		text-align: center;
	
		height:100px;
		width: 100%;
		background:lightgray;
		
		
	}
	.subFormHeader{
		text-align:center;
		vertical-align:middle;
		width:1200px;
		height:100px;
		font-size:20px;
		font-weight:bold;
		line-height:100px;
		margin:0 auto;
	}
	.td2{
		font-size:20px;
		font-weight:bold;
	}
	.tail{
		color:orangered;
		text-align:center;
	}
	
	.goMain:hover, .buyBtn:hover{
		cursor:pointer;
	}
	
	.buyBtn, .goMain{
		display:inline-block;
	} 
	
	.table2{
		border : 1px solid lightgray;
	
	}
	.label{
		text-align:right;
	}
	.tr2{
		height: 50px;
	}
	.Ebtn{
		border:1px solid blue;
		color: blue;
		background: white;
	}
	.btn{
		width:100px;
		height:50px;
		font-size:20px;
	}
	.file2{
		background:white;
	}