@CHARSET "UTF-8";

.q1 {
	background:lightgray;
	height:60px;
	width:100%;
}

.q11 {
	font-size:20px;
	padding-top:20px;
}

.q111 {
	margin-top:20px;
}

.w2 {
	width:300px;
	
}

.w22 {
	background:white;
	border:0;
	vertical-align: middle;
}

.w22 > img {
	width:20px;
	height:18px;
	vertical-align: middle;
	
}